.notes_row { 
  cursor: pointer;
}

.note_area { 
  margin: 5px;
  width: 100%;
  height: 100px;
}

.exp_col { 
  width: 20px;
}

.a_col { 
  width: 200px;
}

.c_col { 
  width: 80px;
}

.u_col { 
  width: 80px;
}

.r_col { 
  width: 20px;
}

.note_edit {  
  float: right;
}

.tsort { 
  cursor: pointer;
}