<tr>
	<td>&nbsp;</td>
	<td colspan='4'>
		<span>Title:   </span><input type='text' class='input-xxlarge' value='{{title}}' />
		<textarea class='note_area'>{{note}}</textarea>
		<br/>
		<span>Created: {{fullDateTime creation_date}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Updated: {{fullDateTime update_date}}</span><button class='btn note_edit'><i class='icon-edit'></i>  Save Note</button>
	</td>
	<td>&nbsp;</td>
</tr>